:root {
  --dashboard-font-size: 1rem;
  --padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  font-size: 1.5rem;
}

.ctn-opt {
  color: white;
  display: flex;
  flex-direction: column;
  grid-row: 1  / 3;
  padding-right: 15px;
  border: 1px solid red;
  background-color: rgba(25, 146, 212, 255)
}

.dashboard-img {
  padding: 10px 20px 10px 15px;
  width: 33px;
}

.dashboard-img.logo {
  padding-right: 10px;
  width: 40px;
}

.nav-first {
  margin-bottom: var(--dashboard-font-size);
}

.dashboard {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: var(--padding-top);
  margin-bottom: var(--dashboard-font-size);
  padding-right: 5px;
  grid-row: 1 / 3;

}

.communities {
  margin-bottom: var(--dashboard-font-size);
}

.item {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

/* nav search*/

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid blue;
  margin-left: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.search {
  display: flex;
  align-items: center;
}

#search-input {
  padding-left: 10px;
  width: 45vw;
  max-width: 471px;
  height: 25px;
  background-color: rgba(226,232,240,255);
  border-radius: 15px;
}

.profile-bar {
  display: flex;
  align-items: center;
}


/* header bottomm */

.header-bottom {
  display: flex;
  border: 1px solid yellow;
}

.profile-display {
  display: flex;
  align-items: center;
  border: 3px solid black;
}

.greetings {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.header-img {
  width: 70px;
  border-radius: 50px;
  border: 1px solid rgb(197, 197, 197);
  margin-right: 20px;
}





