:root {
  --dashboard-font-size: 1rem;
  --padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  font-size: 1.5rem;
}

.ctn-opt {
  color: white;
  display: flex;
  flex-direction: column;
  grid-row: 1  / 3;
  padding-right: 15px;
  background-color: rgba(25, 146, 212, 255)
}

.dashboard-img {
  padding: 10px 20px 10px 25px;
  width: 33px;
}

.dashboard-img.logo {
  padding-right: 10px;
  width: 40px;
}

.nav-first {
  margin-bottom: var(--dashboard-font-size);
}

.dashboard {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: var(--padding-top);
  margin-bottom: var(--dashboard-font-size);
  padding-right: 5px;
  grid-row: 1 / 3;

}

.communities {
  margin-bottom: var(--dashboard-font-size);
}

.item {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

/* nav search*/

.header {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
}

#search-input {
  padding-left: 10px;
  width: 45vw;
  max-width: 500px;
  height: 30px;
  background-color: rgba(226,232,240,255);
  border-radius: 15px;
}

.profile-bar {
  display: flex;
  width: 300px;
  align-items: center;
}


/* header bottomm */

.header-bottom {
  display: flex;
  justify-self: center;
  margin-top: 40px;
  justify-content: space-between;
}

.profile-display {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.greetings {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.header-img {
  width: 70px;
  border-radius: 50px;
  border: 1px solid rgb(197, 197, 197);
  margin-right: 20px;
  margin-left: 20px;
  
}

.header-btn {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 270px;
  min-width: 260px;
  align-items: end;

  margin-right: 30px;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: rgba(25, 146, 212, 255);
  border-radius: 20px;
  width: 100px;
  height: 35px;
}


/*main*/

.main {
  display: grid;
  background: rgba(226,232,240,255);;
  padding: 50px 20px 60px 40px;
  grid-template-columns: 4fr 320px;
  grid-template-rows: 1fr 2fr;
}

.project-display {
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 40px;

}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid black;
  }
  
.project {
  display: flex;
  border: 1px solid magenta;
  margin-bottom: 30px;
  flex-direction: column;
  background: white;
  width: 25vw;
  min-width: 300px;
  height: 180px;
}

.announcements-section {
  border: 2px solid red;
  
}

.announcements-container {
  background: white;
  width: 100%;
  height: 300px;
}

.trending-section {
  
}

.trending-container {
  background: white;
  width: 100%;
  height: 300px;
}


