:root {
  --dashboard-font-size: 1rem;
  --padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  font-size: 1.5rem;
}

.ctn-opt {
  color: white;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  border: 1px solid red;
  background-color: rgba(25, 146, 212, 255)
}

.dashboard-img {
  padding: 10px 20px 10px 15px;
  width: 33px;
}

.dashboard-img.logo {
  padding-right: 10px;
  width: 40px;
}

.nav-first {
  margin-bottom: var(--dashboard-font-size);
}

.dashboard {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: var(--padding-top);
  margin-bottom: var(--dashboard-font-size);
  padding-right: 5px;
  grid-row: 1 / 2;

}

.communities {
  margin-bottom: var(--dashboard-font-size);
}

.item {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

/* nav search*/

.nav-search {
  padding: var(--dashboard-font-size);
  padding-left: 40px;
  border:1px solid blue;
}

#search-input {
  width: 40vw;
  max-width: 700px;
  border-radius: 15px;
  background-color: rgba(226,232,240,255);
}

.myform{
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.form-img {
  margin-bottom: 0px;
  margin-right: 10px;
  width: 33px;
}

/*nav-profile*/

.nav-profile {
  padding-right: 20px;
  padding-top: var(--dashboard-font-size);
  grid-column-start: 3;
}

.profile-stats {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  gap: 15px;
}

.profile-icon {
  margin: 20px;
  width: 50px;
}

.status-bar {
  display: flex;
  align-items: end;
  width: 100%;
  height: 150px;
  border: 1px solid greenyellow;
}

.name-status{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.greeting {
  font-size: 16px;
  font-weight: bold;
}

.name {
  font-size: 30px;
  font-weight: bold;
}

.share-btn {
  display: flex;
  justify-content: end;
  width: 100%;
  border: 1px solid rebeccapurple;
}

.buttons {
  display: flex;
  border: 1px solid red;
  gap: 30px;
  align-self: end;
}

